/* navbar e menu */

nav {
    background-color: var(--cor-secundaria);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: fixed;
    width: 100%;
    margin: 0;
}

nav {
    z-index: 9999;

    .divlogo {
        color: var(--cor-principal);
        font-size: 30px;
        font-family: var(--fonte-titulo);
    }

    .divlogo:hover a{
        color: rgb(201, 197, 197);
    }

    #menu-toggle {
        display: none;
    }

    .menu-icone {
        position: fixed;
        top: 1.5rem;
        left: 2rem;
        width: 30px;
        height: 30px;
        cursor: pointer;
        z-index: 1002;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .menu-icone span {
        display: block;
        height: 3px;
        background-color: var(--cor-branca);
        border-radius: 2px;
        width: 100%;
        transition: all 0.3s ease-in-out;
        width: 35px;
    }

    .slide-menu {
        position: fixed;
        top: 0;
        left: -300px;
        width: 300px;
        height: 100%;
        background-color: var(--cor-secundaria);
        transition: left 0.3s ease-in-out;
        padding: 60px;
        z-index: 1001;
        color: var(--cor-branca);
    }

    .slide-menu ul {
        padding: 15px;
        margin-bottom: 20px;
        font-size: 20px;
        border-bottom: 1px solid var(--cor-principal);
        transition: all 0.2s ease-in-out;
        display: flex;
        justify-content: center;
    }

    .slide-menu li:hover {
        cursor: pointer;
        transform: translateY(-3px);
    }

    .links {
        margin-top: 180%;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1000;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        pointer-events: none;
    }

    #menu-toggle:checked ~ .slide-menu {
        left: 0;
    }

    #menu-toggle:checked ~ .overlay {
        opacity: 1;
        pointer-events: auto;
    }

    #menu-toggle:checked ~ .menu-icone span:nth-child(1) {
        transform: rotate(45deg) translateY(18.6px);
        background: var(--cor-branca)
    }

    #menu-toggle:checked ~ .menu-icone span:nth-child(2) {
        opacity: 0;
    }

    #menu-toggle:checked ~ .menu-icone span:nth-child(3) {
        transform: rotate(-45deg) translateY(-18.6px);
        background: var(--cor-branca)
    }

    /* botão iniciar quiz */

    .slide-menu .quiz-botao a {
        margin-top: 30px;
        }

}

/* início */

.container {
    min-height: 100dvh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../img/green-iot-02-smart-farm.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15% 22%;
    gap: 35px;
}

.hero .quiz-botao {
    padding-inline: 15px;
    font-size: 40px;
}

.chamada-final .quiz-botao {
    padding-inline: 15px;
    font-size: 40px;
}

.botoes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    animation: entrada linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%; 
}

/* sobre */

#sobre .container {
    min-height: 100dvh;
    background-image: linear-gradient(to bottom, #e9e1b7 70%, transparent),  url(../img/fundo-pixelado.png);
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 50rem;
    padding-block: 7%;
    padding-inline: 20px;
    margin: -5px 0;

    .sobre-conteudo {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 50px;
        padding-top: 50px;
        animation: entrada linear;
        animation-timeline: view();
        animation-range: entry 0% cover 30%; 

        .sobre-img {
            width: 40rem;
            aspect-ratio: 16/9;
            border-radius: 15px;
            overflow: hidden;
            transition: 0.3s ease-in-out;
            cursor: pointer;
            animation: entrada linear;
            animation-timeline: view();
            animation-range: entry 0% cover 30%; 
            img {
                width: 100%;
                height: auto;
                object-fit: cover;
                z-index: 2000;
                transition: 0.2s ease-in-out;

            }
        }

        .sobre-img img:hover {
            transform: scale(1.04);
        }
    }
}

/* etapa */

.titulo-secao {
    margin-top: 70px;
    animation: entrada linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;  
}
.evolucao {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-block: 150px;


    .seta {
        font-size: 2rem;
        animation: entrada linear;
        animation-timeline: view();
        animation-range: entry 0% cover 30%; 
    }

    .etapa {
        width: 280px;
        aspect-ratio: 5/6;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border: 1px solid var(--cor-secundaria);
        border-radius: 15px;
        transition: .3s ease;
        animation: entrada linear;
        animation-timeline: view();
        animation-range: entry 0% cover 30%; 
        
        p{
            font-size: 22px;
            animation: entrada linear;
            animation-timeline: view();
            animation-range: entry 0% cover 30%; 
        }
        
        svg {
            width: 2.5rem;
            height: 2.5rem;
            margin: 10px;
            animation: entrada linear;
            animation-timeline: view();
            animation-range: entry 0% cover 30%; 
        }
        
        h3 {
            font-size: 1.5rem;
            margin: 10px;
            font-family: var(--fonte-titulo);
            animation: entrada linear;
            animation-timeline: view();
            animation-range: entry 0% cover 30%; 
        }
        
    }
}
.etapa:hover svg {
    color: var(--cor-secundaria);
    text-shadow: 0 0 10px var(--cor-secundaria);
} 

.etapa:hover {
    transform: translateY(-10px);
    border-color: var(--cor-secundaria);
    box-shadow: 0 0 10px 1px rgb(113, 112, 112);
}

.etapa:hover h3 {
    color: var(--cor-secundaria);
} 

/* chamada final */

.chamada-final .container{
    background-image: none;
    background-color: var(--cor-quaternaria);
    color: var(--cor-branca);
    padding-block: 7%;
    padding-inline: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    .titulo {
        color: var(--cor-preta);
        padding-block: 5%;
        animation: entrada linear;
        animation-timeline: view();
        animation-range: entry 0% cover 30%; 
    }

    .titulo span {
        color: var(--cor-secundaria);
    }

    .subtitulo {
        color: var(--cor-texto);
        padding-inline: 50px;
        padding-bottom: 5%;
        animation: entrada linear;
        animation-timeline: view();
        animation-range: entry 0% cover 30%; 
    }

    .quiz-botao a{
        background-color: var(--cor-secundaria);
        color: var(--cor-branca);
    }
    
        .quiz-botao a:hover {
        box-shadow: 0 0 10px var(--cor-secundaria);
        transform: translateY(-4px);
    }

    .botao-secundario a {
        color: var(--cor-secundaria);
        border: none;
    }

    .botoes {
        margin-top: 30px;
        animation: entrada linear;
        animation-timeline: view();
        animation-range: entry 0% cover 15%; 
    }

    .mensagem {
        width: 70rem;
        background-color: var(--cor-principal);
        padding: 70px;
        border-radius: 10px;
        box-shadow: 0 0 10px var(--cor-preta);
        
        .mensagem-container {
            color: var(--cor-texto);
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }
    }
}

/* footer */

footer {
    background-color: var(--cor-principal);
    color: var(--cor-preta);
    text-align: center;
    padding: 20px;
    font-size: 12px;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    display: flex;
    justify-content: center;
}
