nav {
    background-color: var(--cor-secundaria);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: fixed;
    width: 100%;
    margin: 0;
}

nav {
    z-index: 9999;

    .divlogo {
        color: var(--cor-principal);
        font-size: 30px;
        font-family: var(--fonte-titulo);
    }

    .divlogo:hover a{
        color: rgb(221, 217, 217);
    }

    span {
        color: var(--cor-branca);
    }
}

.container {
    padding: 20px;
    padding-block: 9%;
}

/* introdução */

#introducao .container {

    .secao-conteudo {
        padding: 5rem 16rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

/* funcionamento */

#funcionamento .container {
    min-height: 100dvh;
    background-image: linear-gradient(to bottom, #e9e1b7 70%, transparent),  url(../img/fundo-pixelado.png);
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 50rem;
}

.fluxo {
    display: flex;
    gap: 25px;
    margin-block: 50px;

    .seta {
        font-size: 2rem;
        animation: entrada linear;
        animation-timeline: view();
        animation-range: entry 0% cover 30%; 
    }

    .parte {
        width: 200px;
        aspect-ratio: 5/6;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border: 1px solid var(--cor-secundaria);
        border-radius: 15px;
        transition: .3s ease;
        animation: entrada linear;
        animation-timeline: view();
        animation-range: entry 0% cover 30%; 
        
        p{
            font-size: 22px;
            animation: entrada linear;
            animation-timeline: view();
            animation-range: entry 0% cover 30%; 
        }
        
        svg {
            width: 2.5rem;
            height: 2.5rem;
            margin: 10px;
            animation: entrada linear;
            animation-timeline: view();
            animation-range: entry 0% cover 30%; 
        }
        
        h3 {
            font-size: 1.5rem;
            margin: 10px;
            font-family: var(--fonte-titulo);
            animation: entrada linear;
            animation-timeline: view();
            animation-range: entry 0% cover 30%; 
        }
        
    }
}
.parte:hover svg {
    color: var(--cor-secundaria);
    text-shadow: 0 0 10px var(--cor-secundaria);
} 

.parte:hover {
    transform: translateY(-10px);
    border-color: var(--cor-secundaria);
    box-shadow: 0 0 10px 1px rgb(113, 112, 112);
}

.parte:hover h3 {
    color: var(--cor-secundaria);
} 

/* sustentabilidade */

#sustentabilidade .secao-conteudo {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 50px;

    .card {
        width: 300px;
        height: 400px;
        border: 2px solid var(--cor-secundaria);
        border-radius: 20px;
        overflow: hidden;
        transition: all .2s ease-in-out;
        cursor: pointer;
        box-shadow: 0 0 10px 1px gray;
        
        span {
            font-size: 50px;
            display: flex;
            justify-content: center;
            margin-top: 10px;
        }

        h3 {
            font-size: 35px;
            display: flex;
            justify-content: center;
            margin-block: 20px;
        }

        p {
            font-size: 22px;
            padding: 10px;
        }

        .card:hover {
            transform: ;
        }
    }
}
/**/
/**/
/**/