/* root */

:root {
    --cor-principal: #EDE8D0;
    --cor-secundaria: #06402B;
    --cor-texto: #131313;
    --fonte-titulo: 'stack-sans-notch', sans-serif;
    --fonte-texto: 'chivo-mono', monospace;
}

/* reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* configurações básicas */

body {
    font-family: var(--fonte-texto);
}

p {
    color: var(--cor-texto);
}

/**/
/**/