/* root */

:root {
    --cor-principal: #e9e1b7;
    --cor-secundaria: #06402B;
    --cor-terciaria: #052c1e;
    --cor-quaternaria: #066140;
    --cor-texto: #353434;
    --cor-branca: #F7F9FA;
    --cor-preta: #0f0f0f;
    --fonte-titulo: "Stack Sans Notch", sans-serif;
    --fonte-subtitulo: "Caacupe One", serif;
    --fonte-texto: "Chivo Mono", monospace;
}

/* animações */

@keyframes entrada {
    0% {
        transform: translateY(65px);
    }
    100% {
        transform: translateY(0);
    }
}

/* reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: var(--cor-branca);
}

ul {
    list-style: none;
}

/* configurações básicas e padrões */

body {
    font-family: var(--fonte-texto);
    background-color: var(--cor-principal);
}

p {
    color: var(--cor-texto);
    font-size: 25px;
}

.container {
    padding-inline: 20px;
}

.titulo {
    font-family: var(--fonte-titulo);
    color: var(--cor-branca);
    font-size: 80px;
}

.subtitulo {
    font-size: 25px;
    color: var(--cor-principal);
}

.titulo-secao {
    font-family: var(--fonte-titulo);
    color: var(--cor-preta);
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
}

.titulo-secao span {
    color: var(--cor-secundaria);
}

.btn-voltar-topo {
    position: fixed;
    bottom: 25px;
    right: 25px;
    background-color: #06402bbb;
    backdrop-filter: blur(10px);
    color: var(--cor-branca);
    border: 2px solid var(--cor-branca);
    padding: 10px 15px;
    font-size: 34px;
    border-radius: 999px;
    cursor: pointer;
    display: none;
    z-index: 9999;
}

.quiz-botao {
        display: flex;
        justify-content: center;
    }

.quiz-botao a, button {
        display: inline-block;
        padding: 10px 30px;
        background-color: var(--cor-principal);
        color: var(--cor-secundaria);
        font-size: 25px;
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
        font-family: var(--fonte-subtitulo);
        border: none;
    }

.quiz-botao a:hover, button:hover {
        box-shadow: 0 0 7px var(--cor-principal);
        transform: translateY(-4px);
    }
.botao-secundario {
        display: flex;
        justify-content: center;
    }

.botao-secundario a {
        display: inline-block;
        padding: 10px 30px;
        border: 2.5px solid var(--cor-secundaria);
        color: var(--cor-principal);
        font-size: 25px;
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
        font-family: var(--fonte-subtitulo);
    }

.botao-secundario a:hover {
    transform: translateY(-4px);
    color: rgb(201, 197, 197);
}


/* footer */

footer {
    background-color: var(--cor-principal);
    color: var(--cor-preta);
    text-align: center;
    padding: 20px;
    font-size: 12px;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    display: flex;
    justify-content: center;
}
