/* root */

:root {
    --cor-principal: #EDE8D0;
    --cor-secundaria: #06402B;
    --cor-texto: #2e2d2d;
    --fonte-titulo: "Stack Sans Notch", sans-serif;
    --fonte-subtitulo: "Caacupe One", sans-serif;
    --fonte-texto: "Chivo Mono", monospace;
}

/* reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* configurações básicas */

body {
    font-family: var(--fonte-texto);
}

p {
    color: var(--cor-texto);
}
